@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Roboto+Condensed:ital,wght@1,300&display=swap');

*{
  font-family: 'Playfair Display', serif;
}
.App{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  
  overflow-x: hidden;
 
}

.side-b{
  position: fixed;
  width: 21.9%;
  height: 100vh;
  left: 0px;
  top: 0px;
}

.container{
    position: relative;
    left: 21.9%;
    top:0;
    background-color:white;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 41.7%;
    
}
.Rightbar{
    position: fixed;
    top: 0;
    width: 36.4%;
    height: 100%;
    right: 0;
    
    background-color:white;
}
.sent{
  display: flex;
  flex-direction: column;
  width:300px;
  align-items: center;
 
  
}
.won{
  display: flex;
  flex-direction: column;
  align-items: center;
  
 
  width:300px;
 
}
.ongoing{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:300px;
}

@media screen and (max-width:1072px) {
  h1.heading{
    display:block;
  }
  .container{
    display: flex;
    flex-direction:column;
  }

}