.EstimateList{
    display: flex;
    font-size:14px;
    margin-right:5px;
    padding:7px;
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    color: black;
}

.EstimateList.active{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color:black;
}
